<h1>Compare Two Crypto Currencies</h1>
<br>
<%= form_with url: "/compare", method: :get do |form| %>
	How many 
	<%= select_tag 'comparison_crypto', options_from_collection_for_select(Crypto.order(:ticker), 'ticker', 'ticker', params[:comparison_crypto]), class: "form-select" %>
	can buy one 
	<%= select_tag 'base_crypto', options_from_collection_for_select(Crypto.order(:ticker), 'ticker', 'ticker', params[:base_crypto]), class: "form-select" %> ?
	<button class="btn btn-primary btn-sm">Get exchange rate</button>
<% end %>

<%= render 'errors' %>

<h4><%= @comparison %></h4>
