<h1>Crypto Price In Fiat Currencies</h1>
<br>
<%= form_with url: "/local", method: :get do |form| %>
	How much does one coin of 
	<%= select_tag :crypto, options_from_collection_for_select(Crypto.order(:ticker), 'ticker', 'ticker', params[:crypto]), class: "form-select" %>
	cost in the fiat currency
	<%= select_tag :fiat, options_from_collection_for_select(Fiat.order(:ticker), 'ticker', 'ticker', params[:fiat]), class: "form-select" %> ?
	<button class="btn btn-primary btn-sm">Get price</button>
<% end %>

<%= render 'errors' %>

<h4><%= @price %></h4>