<h1>Nomics API Data</h1>

<%= form_with url: "/table", method: :get do |form| %>
  <div class="form-check">
	Enter the ticker symbols here, comma separated (e.g. BTC, ETH):
    <%= form.text_field :currencies, class: "form-check-input", value: params[:currencies] %>
	<p><a href="https://github.com/razorsyntax/apifixer/blob/master/api-fixer.json">Full List here</a></p>
  
  </div>
  <br>
	<div class="form-check">
    Data required (deselect to retrieve all):
    <br>
    <% @available_attributes.each do |attribute| %>
  	  <%= form.check_box attribute, 
        class: "form-check-input",
        id: attribute,
        checked: params[attribute] && params[attribute] != "0"
      %>
  	  <label class="form-check-label" for="<%= attribute %>">
  	    <%= attribute %>
  	  </label>
    <% end %>
	</div>
  <br>
	<button class="btn btn-primary">Get data</button>
  <br>

<% end %>

<%= render 'errors' %>

<table class="table">
  <thead>
    <tr>
      <th scope="col"></th>
      <% @data.each_index do |i| %>
        <th scope="col"><%= @data[i]['id'].to_s %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% for attribute in @show_attributes.excluding('id') %>
      <tr>
        <th scope="row"><%= attribute %></th>
        <% @data.each_index do |i| %>
          <td><%= @data[i][attribute] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
